@font-face {
    font-family: 'jetbrains-mono';
    src: url(fonts/JetBrainsMono-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'jetbrains-mono';
    src: url(fonts/JetBrainsMono-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'jetbrains-mono';
    src: url(fonts/JetBrainsMono-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'jetbrains-mono';
    src: url(fonts/JetBrainsMono-Medium.ttf);
    font-weight: Medium;
}

img{
    height: auto;
    object-fit: cover;
    border-radius: 3rem;
}

body{
    background-color: #343639;
    margin: 0;
    padding: 0;
}

h1{
    padding: .5rem;
    font-size: 3.5rem;
    font-family: jetbrains-mono;
    color: white;
}

p{
    font-family: jetbrains-mono;
    color: white;
    font-size: 1.7rem;
}

#header{
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 6rem;

    font-family: jetbrains-mono;
    font-size: 50px;
    
    background-color: #343639;
}

#navButtons{
    display: flex;
    margin-left: auto;    
    align-items: center;

    height: 100%;
    width:auto;

    padding-left: 16rem;
    padding-right: 6rem
}

#navLink{
    padding: 1.4rem;
    white-space: nowrap;
    text-decoration: none;
    font-size: 1.7rem;
}

#navLink:hover{
    text-decoration: underline;
}
#AboutPage{
    display: flex;
    padding-top: 10rem;

    height: 37rem;

    padding-left: 3rem;
    padding-right: 3rem;
    width: auto;
}

#AboutText{
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-right: auto;

    padding-left: 3rem;

    width: 50%;
    height: 30rem;
}

#AboutImage{
    display: flex;
    justify-content: center;
}

#Paragraph{
    font-size: 1.7rem; 
    text-align: left; 
    margin: 0; 
    font-weight: normal;
    width: 35rem;
}

#AbtPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50rem;
    background-color: #0C0C0D;
}

#AbtTitleDiv{
    display: flex;
    align-items: center;

    margin-left: auto;

    width: 20rem;
    height: 10rem;
    background-color: black;
}

#AbtText{
    display: flex;
    flex-direction: column;
    margin-right: auto;

    padding-left: 3rem;
    padding-right: 6rem;

    width: 35rem;
    height: 30rem;

    margin-left: auto;
    margin-right: 0;
}

#AbtImage{
    display: flex;
    padding-left: 6rem;
    margin-top: 0;
    margin-bottom: auto;
}

.PageTitle{
    display: flex;
    align-items: center;
}

.StylizedText{
    color: white;
    font-family: jetbrains-mono;
    text-align: center;
}


.circle{
    width: 3rem;
    height: 3rem;

    border-radius: 50%;

    background-color: white;
}

.Container{
    display: flex;
    align-items: center;
}

#logo{
    display: flex;
    align-items: center;
}